.dfe-logo {
	cursor: pointer;
	margin-bottom: 2em;
	overflow: hidden;
	width: 100%;
	img {
		display: block;
		float: left;
		&:not(:first-child) {margin-left: 1em}
	}
}
.dfe-logo-applied {position: absolute; z-index: 1;}
#product-options-wrapper {
	.oi-above-select > .label {display:block;}
	.oi-above-select img.oi-image {margin:0 0 5px 0;}
	.oi-above-radio > .label {display:block;}
	.oi-above-radio img.oi-image {margin:0 0 5px 0;}
	.oi-above-checkbox > .label {display:block;}
	.oi-above-checkbox img.oi-image {margin:0 8px 5px 0;}
	.oi-above-select-multiple > .label {display:block;}
	.oi-above-select-multiple img.oi-image {margin:0 8px 2px 0;}	
}