td.oi-image-column {
	width: 120px;
	.uploader {
		width:120px;
		.browse-button {margin-top: 8px;}
		.file-row {
			.file-info {word-wrap: break-word;}
			.progressbar-container .upload-progress {background-color: #5cb85c;}
		}
	}
}
button.oi-delete-button {margin-left: 5px; vertical-align: top;}
// 2018-03-20
.image-panel .admin__fieldset .dfe-logo-field {
	margin-bottom: 0;
	margin-left:  0;
	overflow: hidden;
	width: 20em;
	> label {
		display: block;
		float: left;
		margin-left: 3px;
		width: auto;
	}
	.admin__field-control {
		float: right;
		margin: 0;
		width: 4em;
	}
}